.flex-container {
    display:flex;
    height:100%;
    width: 100%;
    zoom: 1.5;
}

.chat-flex {
    display: flex;
    flex-direction: column;
    height: 95.5%;
    width: 69%;
    margin-left: 1%;
    overflow: scroll;
    overflow-x: hidden;
}

.chatbox {
    height: 100%;
    width: 100%;
}

.chat {
    bottom: 0;
    width:100%;
}

.user-list {
    position: absolute;
    right: 0;
    width: 30%;
}

.vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 100%;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }