.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;


}

.bubble {
    display: flex;
    width: fit-content;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #2d9fd9;
    background-color: #2dc5d948;
}